Flask>=0.9
Flask-RESTful
Flask-SQLAlchemy
Flask-Testing
flask-discoverer
Flask-Script
Flask-Migrate
werkzeug
psycopg2
SQLAlchemy
simplejson>=3.3.0
requests
numpy
httpretty
mock
coveralls
git+https://github.com/adsabs/flask-consulate@d25eb26154d9c55cd4d0f580744b6fc1add15b5e#egg=flask-consulate
