Flask>=0.9
Flask-RESTful
Flask-SQLAlchemy
Flask-Testing
flask-discoverer
Flask-Script
Flask-Migrate
werkzeug
psycopg2
SQLAlchemy
simplejson>=3.3.0
requests
numpy
httpretty
mock
coveralls
-e git+https://github.com/adsabs/flask-consulate@8d7e60122cbc73693ac37a5468b9be78bea774a1#egg=flask-consulate
